body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
}

span.errorText.hidden {
  display: none;
}

span.errorText.show {
  display: inherit;
}

.errorText {
  color: red;
}

.nameInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputDiv span {
  display: flex;
  flex-direction: column;
}

.inputDiv {
  padding: 0.5em;
}

.form {
  background-color: white;
  border-width: 3em;
  border-color: lightblue;
  border-style: solid;
  border-radius: 0.8em;
  margin: 1em 20em 1em 20em;
}

button {
  background-color: darkblue;
  color: white;
  margin: 0.3em 5em 0.3em 25em;
  border: 0.3em solid darkblue;
  border-radius: 0.3em;
}